@{
    ViewBag.Title = "MonthSale";

}

<style>
    html {
        overflow: auto;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .widget {
        margin-bottom: 5px !important;
    }

    .widget-body {
        padding: 5px 5px 1px 5px !important;
    }

    .page-content {
        padding: 5px 5px 1px 5px !important;
    }

    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        margin-bottom: 4px !important;
    }

    .fixed-table-pagination div.pagination, .fixed-table-pagination .pagination-detail {
        margin-top: 5px !important;
        margin-bottom: 0px !important;
    }
</style>

<div style="display:none">
    <input id="NO" type="hidden" value="{{'NO'|translate}}" />
    <input id="Dealer" type="hidden" value="{{'Dealer'|translate}}" />
    <input id="YearMonth" type="hidden" value="{{'MM/YYYY'|translate}}" />
    <input id="RMB" type="hidden" value="{{'RMB Amount'|translate}}" />
    <input id="AAH" type="hidden" value="{{'AAH'|translate}}" />
</div>
<form id="upload-form" style="display:none">
    <input type='file' id='uploadFile'>
</form>

<div id="page-wrapper">
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="col-md-12">
                        <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div id="main-content">
                        <div class="container-fluid">
                            <p id="phbuttons">
                               <a id="selectfiles" class="btn btn-primary" style="margin-left:2px;"><i class="icon-upload-alt"></i><span translate>Import</span></a>                              
                                <a id="templateDownloadA" class="btn btn-link" href=""><i class="icon-plus icon-white"></i><span translate>Download Templates</span></a>
                                <div id="upload-container" class="container-fluid" style="display:none">
                                    <div id="ossfile"></div>
                                </div>
                            </p>

                            <div class="row-fluid">
                                <div class="span12">

                                    <!-- BEGIN EXAMPLE TABLE widget-->
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4><i class="icon-reorder"></i><span translate>Monthly Wholesale Condition</span></h4>
                                            <span class="tools">
                                                <a href="javascript:;" class="icon-chevron-down" onclick="ShowDiv()"></a>
                                            </span>
                                        </div>
                                        <div class="widget-body" style="display: block;">
                                            <div class="row-fluid">
                                                <span class="span12">
                                                    <div id="formsousuo" style="margin-bottom:5px">
                                                        <a class="btn btn-default" href="javascript:;" onclick="Add()"><i class="glyphicon glyphicon-plus"></i><span translate>Add</span></a>
                                                        <a class="btn btn-default" href="javascript:;" onclick="DeleteBudgetCost()"><i class="glyphicon glyphicon-trash"></i><span translate>Delete</span></a>
                                                        <select class="input-small m-wrap no-margin" id="pdealer" name="pdealer" style="background-color: white;" onchange="NameQuery()">
                                                            <option value="" translate>Dealer Name</option>
                                                        </select>
                                                    </div>
                                                </span>
                                            </div>

                                            <div class="dataTables_wrapper form-inline" role="grid" id="myPro">
                                                <table id="myIncomeCost" class="table table-striped table-bordered table-hover" data-height="100%"></table>
                                                <div id="totalDiv" style="margin-bottom:10px;margin-left:5px;margin-top:2px"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE widget-->
                                </div>
                            </div>
                            <!-- END ADVANCED TABLE widget-->
                            <!-- END PAGE CONTENT-->
                        </div>
                    </div>
                    <!--END CONTENT-->
                </div>
            </div>
        </div>
    </div>
    <!--END CONTENT-->
</div>

@section scripts{
    <script src="~/Scripts/api/common.js?20200202"></script>
    <script src="~/Scripts/curtom/IncomeCost.js"></script>
    <script src="~/Scripts/xlsx.core.min.js"></script>
    <script src="~/Scripts/crypto-js.js"></script>
    <script src="~/Scripts/curtom/DESUtil.js"></script>

<script src="~/Scripts/oss-upload-direct/lib/crypto1/crypto/crypto.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/hmac/hmac.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/crypto1/sha1/sha1.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="~/Scripts/oss-upload-direct/lib/base64.js"></script>
<script src="~/Scripts/oss-upload-direct/upload.js?20200229"></script>

    <script type="text/javascript">
        $("#nav_IncomeCost").addClass("active");

        var $table = $('#myIncomeCost');
        var roleType = $("#G_RoleTypeCode").val();
        var account = $("#G_AccountId").val();
        var hdData = [];
        var osspath = "Bentley/" + year + "/ImportData/";
        var ossClient;
        $(function () {
            //初始化LexusReport OSS 数据源
            initOssClient();

            //下载模板地址
            templateDownloadA.href = host + "/Content/Excel/MonthSaleImport.xlsx";

            loadShops().forEach(function (item) {
                var shopName = isZH() ? item.ShopName : item.ShopNameEn;
                $("#pdealer").append($("<option>").val(item.ShopId).text(shopName));
                hdData.push({ value: item.ShopId, text: shopName });
            });
            if (roleType == "SHOP") {
                $('#pdbuttons2').hide();
            }

            $(window).resize(function () {
                $table.bootstrapTable('destroy');// 销毁表格数据
                InitIncomeCostList();
                loadMonthSale();
            });

            InitIncomeCostList();
            loadMonthSale();
        })


        function initOssClient() {
            ossClient = new OSSClient({
                fileAddCheck: function () {
                    return true;
                },
                fileAddCheckMsg: "",
                osspath: osspath,
                uploaded: function (args) {
                    //调用导入方法
                    $.commonGet("DMF/MonthSaleImportServer", {
                        userId: $("#G_UserId").val(),
                        ossPath: args.osspath
                    }, function (data) {
                        loadMonthSale();
                    });
                }
            });
        }


        function NameQuery() {
            loadMonthSale();
        }

        function loadMonthSale() {
            $.commonGet("DMF/MonthSaleSearch", {
                monthSaleId: '',
                shopId: $("#pdealer").val()
            }, function (data) {
                if (data) {
                    $table.bootstrapTable("load", data);
                }
            });
        }

        //导入文件事件
        $("#uploadFile").change(uploadMonthSales);
        function uploadFile() {
            $("#uploadFile").click();
            return false;
        };

        function uploadMonthSales() {
            var file_obj = document.getElementById('uploadFile').files[0];
            readWorkbookFromLocalFile(file_obj, function (workbook) {
                document.getElementById('uploadFile').value = '';
                var worksheet = workbook.Sheets['我的工作表'];
                var json = XLSX.utils.sheet_to_json(worksheet);
                if (json && json.length > 0) {
                    var monthSales = [];
                    $.each(json, function (i, item) {
                        if (i == 0) return;
                        try {
                            var ShopName = $.trim(item["DealerName"]);
                            var YearMonth = $.trim(item["YearAndMonth"]);
                            var ActualSaleCount = $.trim(item["Number"]);
                            var ActualSaleAmt = $.trim(item["Income"]);

                            monthSales.push({
                                YearMonth: YearMonth,
                                ShopName: ShopName,
                                ActualSaleCount: ActualSaleCount,
                                ActualSaleAmt: ActualSaleAmt,
                                InUserId: $("#G_UserId").val(),
                                ModifyUserId: $("#G_UserId").val()
                            });

                        } catch (e) {
                            console.error('读取月批售概况出错', e);
                        }

                    })
                    importMonthSales(monthSales);
                } else {
                    alert("Excel中没有清单数据！");
                }
            })
        }

        // 读取本地excel文件
        function readWorkbookFromLocalFile(file, callback) {
            var reader = new FileReader();
            reader.onload = function (data) {
                var data =data.content;
                var workbook = XLSX.read(data, { type: 'binary' });
                if (callback) callback(workbook);
            };
            reader.readAsBinaryString(file);
        }

        //导入线索报告信息
        function importMonthSales(monthSales) {
            SProcessing();
            $.commonPost("DMF/MonthSaleImport", {
                UserId: $("#G_UserId").val(),
                ListJson: JSON.stringify(monthSales)
            }, function (data) {
                EProcessing();
                console.log(data);
                loadMonthSale();
            }, function () {
                EProcessing();
            });
        }


        function SProcessing() {
            //loading层
            var index = layer.load(1, {
                shade: [0.1, '#fff'] //0.1透明度的白色背景
            });
        }
        function EProcessing() {
            layer.closeAll('loading');
        }
    </script>
}