@{
    ViewBag.Title = "Marketing";
}


<style>
    html {
        overflow: auto;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .widget {
        margin-bottom: 5px !important;
    }

    .widget-body {
        padding: 5px 5px 1px 5px !important;
    }

    .page-content {
        padding: 5px 5px 1px 5px !important;
    }

    .fixed-table-pagination div.pagination, .fixed-table-pagination .pagination-detail {
        margin-top: 5px !important;
        margin-bottom: 0px !important;
    }
</style>

<div id="page-wrapper">
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="col-md-12">
                        <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div id="main-content">
                        <div class="container-fluid">
                            <p>
                                <a class="btn btn-primary" style="margin-left:2px;" onclick="downloadFile()"><i class="icon-download-alt"></i><span translate>Export</span></a>
                                <a class="btn btn-primary" style="margin-left:2px;" onclick="downloadByClueReportFile()"><i class="icon-download-alt"></i><span translate>Export Clue Report Excel</span></a>
                            </p>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4><i class="icon-reorder"></i><span translate>Marketing Events List</span></h4>
                                            <span class="tools">
                                                <a href="javascript:;" class="icon-chevron-down" onclick="ShowDiv()"></a>
                                            </span>
                                        </div>
                                        <div class="widget-body" style="display: block;">
                                            <a class="btn btn-primary" href="/Marketing/Create" style="float:left"><i class="icon-plus icon-white"></i><span translate>Add</span></a>
                                            <input class="form-control input-small m-wrap no-margin" style="width: 150px !important; margin-left:5px; margin-bottom: 10px; float: left" placeholder="{{'Event Name'|translate}}" id="pname" name="pname" onchange="NameQuery()" onkeypress="EnterPress(event)" onkeydown="EnterPress()" />
                                            <select name="pyear" id="pyear" class="input-small m-wrap no-margin" style="margin-left:5px;" onchange="NameQuery()">
                                                <option value="" translate>Year</option>
                                                <option value="2017">2017</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                            </select>
                                            <script>
                                                var cdate = new Date();
                                                //$("#pyear").val(cdate.getFullYear());
                                            </script>
                                            <select name="pmonth" id="pmonth" class="input-small m-wrap no-margin" onchange="NameQuery()">
                                                <option value="" translate>Month</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            <script>
                                                var cdate = new Date();
                                                //$("#pmonth").val(cdate.getMonth() + 1);
                                            </script>
                                            <select name="pstate" id="pstate" class="input-small m-wrap no-margin" onchange="NameQuery()">
                                                <option value="" translate>ActiveStatus</option>
                                            </select>
                                            <select id="pdealer" name="pdealer" class="input-small m-wrap no-margin" onchange="NameQuery()">
                                                <option value="" translate>Dealer Name</option>
                                            </select>
                                            <select id="ptype" name="ptype" class="input-small m-wrap no-margin" style="background-color: white;" onchange="NameQuery()">
                                                <option value="" translate>Event Type</option>
                                            </select>

                                            <div class="dataTables_wrapper form-inline" role="grid">
                                                <table id="myMarketing" class="table table-striped table-bordered table-hover"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END CONTENT-->
                </div>
            </div>
        </div>
    </div>
    <!--END CONTENT-->
</div>
@section scripts{
    <script src="~/Scripts/api/common.js"></script>
    <script type="text/javascript">
        $("#nav_promotion").addClass("active");
        $(function () {
            loadShops().forEach(function (item) {
                var shopName = localStorage.language == 'en' ? item.ShopNameEn : item.ShopName;
                $("#pdealer").append($("<option>").val(item.ShopId).text(shopName));
            });

            loadActiveStatuss();
            loadEventTypes();

            initTable();
            loadMarketings();
        })

        function NameQuery() {
            loadMarketings(true);
        }
        
        function loadActiveStatuss() {
            $.commonGet("Master/HiddenCodeSearch", {
                hiddenCodeGroup: "MarketActionStatus",
                hiddenCode: ""
            }, function (data) {
                data.forEach(function (item) {
                    $("#pstate").append($("<option>").val(item.HiddenCodeId).text(localStorage.language == 'zh' ? item.HiddenCodeName : item.HiddenCodeNameEn))
                });
            })
        }

        function loadEventTypes() {
            $.commonGet("Master/EventTypeSearch", {
                eventTypeId: "",
                eventTypeName: "",
                eventTypeNameEn: ""
            }, function (data) {
                data.forEach(function (item) {
                    $("#ptype").append($("<option>").val(item.EventTypeId).text(localStorage.language == 'zh' ? item.EventTypeName : item.EventTypeNameEn))
                });
            })
        }

        function statusFormatter(value, row, index, field) {
            if (row.MarketActionStatusNameEn == "Canceled") {
                return '';
            }
            if (field == "Before3Days" || field == "TheDays") {
                if (isZH())  {
                    if (types.indexOf(row.EventTypeName)>=0) {
                        return '';
                    }  
                } else {
                    if (types.indexOf(row.EventTypeNameEn) >= 0) {
                        return '';
                    }
                }
            }
            
            var href = '/Marketing/' + field + "?id=" + row.MarketActionId;
            if (field == "After2Days") {
                href += "&ShopName=" + (isZH() ? row.ShopName : row.ShopNameEn);
                href += "&ActionName=" + row.ActionName;
            }
            if (value == "Commited") {
                var txt = $("#Pending").val();
                return '<a href="' + href + '" onclick="EmptyValue();" class="btn btn-primary btn-sm" style="background-color:gray !important;border-color:lightgrey !important;"><i class="icon-plus" style="padding-right:5px;"></i><span style="color: white;">' + txt + '</span></a>';
            } else if (value == "UnCommitTime") {
                var txt = $("#Draft").val();
                return '<a href="' + href + '" onclick="EmptyValue();" class="btn btn-primary btn-sm" style=""><i class="icon-plus" style="padding-right:5px;"></i><span style="color: white;">' + txt + '</span></a>';
            } else if (value == "UnCommit") {
                var txt = $("#Draft").val();
                return '<a href="' + href + '" onclick="EmptyValue();" class="btn btn-primary btn-sm" style="background-color:#E0E0E0 !important;border-color:lightgrey !important;"><i class="icon-plus" style="padding-right:5px;"></i><span style="color: white;" >' + txt + '</span></a>';
            }
        }

        function nameFormatter(value, row, index) {
            return ' <div style="min-width:180px;"><a href="/Marketing/Create?Id=' + row.MarketActionId + '" onclick="EmptyValue();">' + value + '</a></div>';
        }

        function dateFormatter(value, row, index) {
            if (value) {
                var date = value.substr(0, value.indexOf(' ')).replace(/-/g, '\/');
                return date;
            }
            return "";
        }

        function expenseAccountFormatter(value, row, index) {
            var chk = (value) ? 'checked' : '';
            return '<input class="check" type="checkbox" ' + chk + '/>';
        }

        function loadMarketings(refresh) {
            $.commonGet("MarketAction/MarketActionSearch", {
                actionName: $('#pname').val() || '',
                year: $('#pyear').val() || '',
                month: $('#pmonth').val() || '',
                marketActionStatusCode: $('#pstate').val() || '',
                shopId: $('#pdealer').val() || ' ',
                eventTypeId: $('#ptype').val() || ' ',
                userId: $("#G_UserId").val(),
                roleTypeCode: $("#G_RoleTypeCode").val(),
                expenseAccountChk:''
            }, function (data) {
                if (data) {
                    $('#myMarketing').bootstrapTable("load", data);
                }
            });
        }
        var types = isZH()? ['数字营销','广告及宣传','线上平台线索获取']:['Digital Marketing','Advertisement','Online Sales Leads Generation' ];
        function initTable() {  
            var columns = [[{
                title: $("#G_No").val(),
                field: '',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return index + 1;
                },
                rowspan: 2
            }, {
                title: $("#G_ReimbursementApplication").val(),
                field: 'ExpenseAccount',
                align: 'center',
                valign: 'middle',
                rowspan: 2,
                formatter: expenseAccountFormatter,
                events: {
                    'change .check': function (e, value, row, index) {
                        deleleCommitFile([row]);
                    }
                }
            }, {
                title: $("#G_Dealer").val(),
                field: localStorage.language == 'en' ? 'ShopNameEn' : 'ShopName',
                align: 'center',
                valign: 'middle',
                rowspan: 2
            }, {
                title: $("#G_Status").val(),
                field: localStorage.language == 'en' ? 'MarketActionStatusNameEn' : 'MarketActionStatusName',
                align: 'center',
                valign: 'middle',
                rowspan: 2
            }, {
                title: $("#G_ActivityName").val(),
                field: 'ActionName',
                align: 'center',
                valign: 'middle',
                rowspan: 2,
                formatter: nameFormatter
            }, {
                title: $("#G_EventType").val(),
                field: localStorage.language == 'en' ? 'EventTypeNameEn' : 'EventTypeName',
                align: 'center',
                valign: 'middle',
                rowspan: 2
            }, {
                title: $("#G_StartDate").val(),
                field: 'StartDate',
                align: 'center',
                valign: 'middle',
                rowspan: 2,
                formatter: dateFormatter
            }, {
                title: $("#G_EndDate").val(),
                field: 'EndDate',
                align: 'center',
                valign: 'middle',
                rowspan: 2,
                formatter: dateFormatter
            }, {
                title: $("#G_ThreeWeeksBefore").val(),
                field: '',
                align: 'center',
                valign: 'middle'
            }, {
                title: $("#G_ThreeDaysBefore").val(),
                field: '',
                align: 'center',
                valign: 'middle'
            }, {
                title: $("#G_Today").val(),
                field: '',
                align: 'center',
                valign: 'middle'
            }, {
                title: $("#G_AfterDays2").val(),
                field: '',
                align: 'center',
                valign: 'middle'
            }, {
                title: $("#G_AfterDays7").val(),
                field: '',
                align: 'center',
                valign: 'middle'
            }, {
                title: $("#G_AfterMonth1").val(),
                field: '',
                align: 'center',
                valign: 'middle'
            }, {
                title: $("#G_AfterMonth3").val(),
                field: '',
                align: 'center',
                valign: 'middle'
            }], [{
                title: $("#PlanPPT").val(),
                field: 'Before3Weeks',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return statusFormatter(value, row, index, 'Before3Weeks');
                }
            }, {
                title: $("#FinalPPT").val(),
                field: 'Before3Days',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return statusFormatter(value, row, index, 'Before3Days');
                }
            }, {
                title: $("#G_OnSiteSign").val(),
                field: 'TheDays',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return statusFormatter(value, row, index, 'TheDays');
                }
            }, {
                title: $("#G_ClueReport").val(),
                field: 'After2Days',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return statusFormatter(value, row, index, 'After2Days');
                }
            }, {
                title: $("#G_EventReport").val(),
                field: 'After7Days',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return statusFormatter(value, row, index, 'After7Days');
                }
            }, {
                title: $("#G_UpdateReport").val(),
                field: 'After1Months',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return statusFormatter(value, row, index, 'After1Months');
                }
            }, {
                title: $("#G_ProofDocument").val(),
                field: 'After3Months',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index) {
                    return statusFormatter(value, row, index, 'After3Months');
                }
            }]];

            $("#myMarketing").bootstrapTable({
                columns: columns,
                data:[],
                pageNumber: 1,
                pageSize: 20,
                pagination: true
            });
        }

        function refreshTable(data) {
            $("#myMarketing").bootstrapTable("refreshOptions", {
                data: data
            });
        }

        function EnterPress(e) { //传入 event
            var e = e || window.event;
            if (e.keyCode == 13) { //13代表回车符
                NameQuery();
            }
        }

        function downloadByClueReportFile() {
            $.commonGet("MarketAction/MarketActionAllLeadsReportExport", { year: '' }, function (data) {
                if (data) {
                    window.location.href = host + "download/DownloadFile?filepath=" + data.FilePath;
                }
            })
        }
    </script>
}