@{
    ViewBag.Title = "After2Days";
}

<input id="TDisplayModel" type="hidden" value="{{'Display Model（Color）'|translate}}" />
<input id="TProvider" type="hidden" value="{{'Provider'|translate}}" />
<input id="TEdit" type="hidden" value="{{'Edit'|translate}}" />
<input id="WhetherDeal" type="hidden" value="{{'Whether Deal Made'|translate}}" />
<input id="TTime" type="hidden" value="{{'Date'|translate}}" />
<input id="TProcess" type="hidden" value="{{'Process'|translate}}" />
<input id="TContent" type="hidden" value="{{'Content'|translate}}" />
<input id="TComments" type="hidden" value="{{'Comments'|translate}}" />
<input id="UnitPrice" type="hidden" value="{{'Unit Price'|translate}}" />
<input id="TDESC" type="hidden" value="{{'Description'|translate}}" />
<input id="ExpenseItem" type="hidden" value="{{'Tick Item'|translate}}" />
<input id="TQuantity" type="hidden" value="{{'Quantity'|translate}}" />
<input id="TotalAmount" type="hidden" value="{{'Total Amount'|translate}}" />
<div id="page-wrapper">
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="main-content">
            <h2 translate>Event Report PPT</h2>
            <p><a class="btn btn-success" href="/Marketing/Index"><i class="icon-plus icon-white"></i><span translate>Back</span></a></p>

            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i><span translate>Event Information</span></h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down" onclick="ShowDiv()"></a>
                    </span>
                </div>
                <div class="widget-body" style="display: block;">
                    <form class="form-horizontal bv-form ng-pristine ng-valid" id="PromotionCreate" novalidate="novalidate">
                        <input id="MarketActionId" name="MarketActionId" type="hidden" value="" />
                        <input id="InUserId" name="InUserId" type="hidden" value="" />
                        <input id="InDateTime" name="InDateTime" type="hidden" value="" />
                        <input id="ModifyUserId" name="ModifyUserId" type="hidden" value="" />
                        <input id="ModifyDateTime" name="ModifyDateTime" type="hidden" value="" />
                        <div class="row" id="ActiveShow" style="display:none">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><span translate>Promotion State</span><span class="required" style="color:red">*</span>:</label>
                                    <div class="col-md-4">
                                        <select id="MarketActionStatusCode" name="MarketActionStatusCode" class="selectpicker" disabled></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><span translate>Event Name</span><span class="required" style="color:red">*</span>:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="ActionName" name="ActionName" maxlength="255" style="width:100%;" type="text" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><span translate>Event ID</span><span class="required" style="color:red">*</span>:</label>
                                    <div class="col-md-8">
                                        <input class="form-control" id="ActionCode" name="ActionCode" maxlength="255" style="width:100%;" type="text" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><span translate>Dealer Name</span>:</label>
                                    <div class="col-md-8">
                                        <select id="ShopId" name="ShopId" class="selectpicker" disabled></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><span translate>Event Type</span>:</label>
                                    <div class="col-md-8">
                                        <select id="EventTypeId" name="EventTypeId" class="selectpicker" disabled></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="StartDate" class="col-md-2 control-label"><span translate>By Date</span><span class="required" style="color:red">*</span>:</label>

                                    <div class="col-md-2" style="margin-right:-5px;">
                                        <input class="form-control form_date" id="StartDate" name="StartDate" maxlength="255" style="width:100%;" type="text" disabled />
                                    </div>
                                    <span style="float:left;padding-top:5px;padding-left:2px;margin-right:-1px;"> - </span>
                                    <div class="col-md-2" style="margin-left:0px;">
                                        <input class="form-control form_date" id="EndDate" name="EndDate" maxlength="255" style="width:100%;" type="text" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4"><span translate>Event Venue</span>:</label>
                                    <div class="col-md-8">
                                        <textarea class="form-control" cols="20" id="ActionPlace" name="ActionPlace" maxlength="255" rows="2" style="width:100%;height:60px;" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="widget">
                <div class="widget-title">
                    <h4><i class="icon-reorder"></i><span translate>Event Report</span></h4>
                    <span class="tools">
                        <a href="javascript:;" class="icon-chevron-down" onclick="ShowReport()"></a>
                    </span>
                </div>
                <div class="widget-body form form-horizontal" id="activityreport" style="display: block;">
                    <div>
                        <form class="form-horizontal ng-pristine ng-valid" id="PromotionCreate2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"><span translate>Highlights</span>:</label>
                                        <div class="col-md-8">
                                            <textarea class="form-control" cols="20" id="HightLights" name="HightLights" rows="5" style="width:100%;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"><span translate>Place to Improve</span>:</label>
                                        <div class="col-md-8">
                                            <textarea class="form-control" cols="20" id="ImproveArea" name="ImproveArea" rows="5" style="width:100%;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"><span translate>Customer Feedback</span>:</label>
                                        <div class="col-md-8">
                                            <textarea class="form-control" cols="20" id="CustomerFeedback" name="CustomerFeedback" rows="5" style="width:100%;"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"><span translate>Marketing/Sales Team Suggestions (Summary)</span>:</label>
                                        <div class="col-md-8">
                                            <textarea class="form-control" cols="20" id="MarketSaleTeamAdvice" name="MarketSaleTeamAdvice" rows="1" style="width:100%;"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"><span translate>Actual Expense</span><span class="required" style="color:red">*</span>: </label>
                                        <div class="col-md-4">
                                            <div><span id="ExpenseTotalAmt"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2"><span translate>Actual Expense List</span>:</label>
                                        <div class="col-md-9">
                                            <a id="addData" href="javascript:;" onclick="AddActualCost()" style="color:blue"><i class="icon-plus icon-white" translate>Add</i></a>
                                            <br />
                                            <table id="ActualCostTable" class="table table-striped table-bordered table-hover"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <style>
                                .h-30 {
                                    line-height: 30px;
                                }
                            </style>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2"><span translate>Attendance</span>:</label>
                                        <span style="float:left;padding-top:5px;padding-left:2px;margin-right:-1px;" translate>Owner</span>
                                        <div class="col-md-2 h-30" style="margin-right:-5px;">
                                            <input min="0" class="form-control" data-val="true" data-val-number="The field ActualCarOwner must be a number." data-val-required="The ActualCarOwner field is required." id="AttendenceOwnerCount" maxlength="255" name="AttendenceOwnerCount" style="width:100%;" type="number" value="0" />
                                        </div>
                                        <span style="float:left;padding-top:5px;padding-left:2px;margin-right:-1px;" translate>Potential Customer</span>
                                        <div class="col-md-2 h-30" style="margin-left:0px;">
                                            <input min="0" class="form-control" data-val="true" data-val-number="The field ActualPotentialCustomer must be a number." data-val-required="The ActualPotentialCustomer field is required." id="AttendencePCCount" maxlength="255" name="AttendencePCCount" style="width:100%;" type="number" value="0" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2"><span translate>Leads</span>:</label>
                                        <span style="float:left;padding-top:5px;padding-left:2px;margin-right:-1px;" translate>Owner</span>
                                        <div id="LeadOwnerCount" class="col-md-2 h-30" style="margin-right:-5px;">
                                        </div>
                                        <span style="float:left;padding-top:5px;padding-left:2px;margin-right:-1px;" translate>Potential Customer</span>
                                        <div id="LeadPCCount" class="col-md-2 h-30" style="margin-left:0px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2"><span translate>Test Drive Participants</span>:</label>
                                        <span style="float:left;padding-top:5px;padding-left:2px;margin-right:-1px;" translate>Owner</span>
                                        <div id="TestDriverOwnerCount" class="col-md-2 h-30" style="margin-right:-5px;">

                                        </div>
                                        <span style="float:left;padding-top:5px;padding-left:2px;margin-right:-1px;" translate>Potential Customer</span>
                                        <div id="TestDriverPCCount" class="col-md-2 h-30" style="margin-left:0px;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2"><span translate>Orders</span>:</label>
                                        <span style="float:left;padding-top:5px;padding-left:2px;margin-right:-1px;" translate>Owner</span>
                                        <div id="ActualOrderOwnerCount" class="col-md-2 h-30" style="margin-right:-5px;">
                                        </div>
                                        <span style="float:left;padding-top:5px;padding-left:2px;margin-right:-1px;" translate>Potential Customer</span>
                                        <div id="ActualOrderPCCount" class="col-md-2 h-30" style="margin-left:0px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2"><span translate>Event Actual Procedure</span>:</label>
                                        <div class="col-md-8">
                                            <a id="addData" href="javascript:;" onclick="AddInitActualActivity()" style="color:blue"><i class="icon-plus icon-white" translate>Add</i></a>
                                            <br />
                                            <table id="ActivityFlow2Table" class="table table-striped table-bordered table-hover"></table>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!--线上广告-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"><span translate>Online Advertisement</span>:</label>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="OnLineAdPic01" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="OnLineAdDesc01" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="OnLineAdPic02" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="OnLineAdDesc02" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="OnLineAdPic03" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="OnLineAdDesc03" placeholder=" {{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="OnLineAdPic04" style="width: 200px;height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div><textarea class="form-control" cols="20" name="OnLineAdDesc04" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--展车/展示-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"><span translate>Exhibition</span>:</label>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width:200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width: 190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="CarDisplayPic01" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID_venue1"  accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="CarDisplayDesc01" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width: 190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="CarDisplayPic02" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="CarDisplayDesc02" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="CarDisplayPic03" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="CarDisplayDesc03" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="CarDisplayPic04" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="CarDisplayDesc04" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--展具/场地-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"><span translate>Venue</span>:</label>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="PlacePic01" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="PlaceDesc01" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="PlacePic02" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="PlaceDesc02" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="PlacePic03" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="PlaceDesc03" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="PlacePic04" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="PlaceDesc04" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--互动（签到、表演）-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"><span translate>Front Desk/Welcoming Staff/Model</span>:</label>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="RegisterLiveShowPic01" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="RegisterLiveShowDesc01" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="RegisterLiveShowPic02" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="RegisterLiveShowDesc02" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="RegisterLiveShowPic03" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" id="ListDesigns_2__ImgRemark" name="RegisterLiveShowDesc03" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="RegisterLiveShowPic04" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="RegisterLiveShowDesc04" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--人员（客户、员工、礼仪）-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"><span translate>Registration/Gifts/Lottery</span>:</label>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="CustomerStaffModelPic01" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="CustomerStaffModelDesc01" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="CustomerStaffModelPic02" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="CustomerStaffModelDesc02" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="CustomerStaffModelPic03" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="CustomerStaffModelDesc03" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="CustomerStaffModelPic04" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="CustomerStaffModelDesc04" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--其他-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4"><span translate>Design Extension</span>:</label>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="OthersPic01" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="OthersDesc01" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="OthersPic02" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="OthersDesc02" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="OthersPic03" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="OthersDesc03" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                                                <div class="fileinput-new thumbnail" style="width: 200px;height:150px;">
                                                    <img id="picImg" onclick="OpenForm(this)" style="width:190px;height:140px;" src="/Content/bootstrap-fileinput/img/noimage.png" alt="">
                                                </div>
                                                <div class="fileinput-preview fileinput-exists thumbnail" id="OthersPic04" style="width: 200px; height: 150px;"></div>
                                                <div>
                                                    <span class="btn btn-primary btn-file">
                                                        <span class="fileinput-new" translate>Choose Documents</span>
                                                        <span class="fileinput-exists" translate>Change</span>
                                                        <input type="file" name="pic1" id="picID" accept="image/gif,image/jpeg,image/x-png">
                                                    </span>
                                                    <a href="javascript:;" class="btn btn-warning fileinput-exists" data-dismiss="fileinput" translate>Remove</a>
                                                </div>
                                            </div>
                                            <textarea class="form-control" cols="20" name="OthersDesc04" placeholder="{{'Description2'|translate}}" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" onclick="PromotionEdit2()" class="btn btn-success" translate>Save</button>
                                    <a class="btn btn-dark" href="/Marketing/Index" translate>Back</a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END CONTENT-->
    <!--BEGIN FOOTER-->

    <div id="footer" style="display:none">
        <div class="copyright">
            <table></table>
        </div>
    </div>
    <!--END FOOTER-->
</div>

@section scripts{
    <script src="~/Scripts/api/common.js"></script>
    <script src="~/Scripts/curtom/PromotionEdit.js"></script>

    <script>
        $("#nav_promotion").addClass("active");

        var baseOss = "https://yrsurvey.oss-cn-beijing.aliyuncs.com/";
        var id = '@ViewBag.Id';
        

        $(function () {
            $('img').error(function () {
                $(this).attr('src', 'https://yrsurvey.oss-cn-beijing.aliyuncs.com/Bentley/fail2.png');
            });

            loadShops().forEach(function (item) {
                var shopName = localStorage.language == 'en' ? item.ShopNameEn : item.ShopName;
                $("#ShopId").append($("<option>").val(item.ShopId).text(shopName));
            });

            //设置同步调用 必须先绑定下拉列表数据再查询市场活动信息
            $.ajaxSetup({
                async: false
            });
            loadActiveStatuss();
            loadTargetModels();
            loadEventTypes();
            $.ajaxSetup({
                async: true
            });

            InitActualCost();
            InitActualActivityProcess();

            $('#UserId').val($('#G_UserId').val());
            var roleName = $('#G_RoleTypeCode').val();
            if (roleName == "SYSADMIN" || roleName == "MARKET") {
                $('#ActiveShow').show();
                $('#VisualStatus').prop("disabled", false);
            }
            else {
                $('#VisualStatus').prop("disabled", true);
            }

            if (id) {
                $.commonGet("MarketAction/MarketActionSearchById", { marketActionId: id }, function (data) {
                    if (data && data.length > 0) {
                        data[0].StartDate = data[0].StartDate.substr(0, data[0].StartDate.indexOf(' ')).replace(/-/g, '\/');
                        data[0].EndDate = data[0].EndDate.substr(0, data[0].EndDate.indexOf(' ')).replace(/-/g, '\/');
                        $('#PromotionCreate').setForm(data[0]);
                        $("#MarketActionTargetModelCode").val(data[0].MarketActionTargetModelCode);
                        $("select").selectpicker("refresh");
                    }
                });

                $.commonGet("MarketAction/MarketActionAfter7Search", { marketActionId: id }, function (data) {
                    if (data) {
                        var marketActionAfter7 = data.MarketActionAfter7;

                        $('#ActualCostTable').bootstrapTable("load", data.ActualExpenseDto);
                        $('#ActivityFlow2Table').bootstrapTable("load", data.ActualProcess);

                        if (data.ActualExpenseDto) {
                            data.ActualExpenseDto.forEach(function (item) {
                                if (item.SeqNO > maxActualCostSeqNo) {
                                    maxActualCostSeqNo = item.SeqNO;
                                }
                            });
                        }
                        if (data.ActualProcess) {
                            data.ActualProcess.forEach(function (item) {
                                if (item.SeqNO > maxActualActivitySeqNo) {
                                    maxActualActivitySeqNo = item.SeqNO;
                                }
                            })
                        }
                        // 从线索查询出来不需要填写的字段
                        for (var pro in data.LeadsCount) {
                            $("#" + pro).html(data.LeadsCount[pro]);
                        }
                        $("#ExpenseTotalAmt").html(dealNumber(parseFloat(data.LeadsCount.ExpenseTotalAmt)));

                        if (marketActionAfter7) {
                            $('#PromotionCreate2').setForm(marketActionAfter7);


                            //线上广告
                            $('#OnLineAdPic01').fileinputInit(marketActionAfter7.OnLineAdPic01);
                            $('#OnLineAdPic02').fileinputInit(marketActionAfter7.OnLineAdPic02);
                            $('#OnLineAdPic03').fileinputInit(marketActionAfter7.OnLineAdPic03);
                            $('#OnLineAdPic04').fileinputInit(marketActionAfter7.OnLineAdPic04);

                            //展车/展示
                            $('#CarDisplayPic01').fileinputInit(marketActionAfter7.CarDisplayPic01);
                            $('#CarDisplayPic02').fileinputInit(marketActionAfter7.CarDisplayPic02);
                            $('#CarDisplayPic03').fileinputInit(marketActionAfter7.CarDisplayPic03);
                            $('#CarDisplayPic04').fileinputInit(marketActionAfter7.CarDisplayPic04);

                            //展具/场地
                            $('#PlacePic01').fileinputInit(marketActionAfter7.PlacePic01);
                            $('#PlacePic02').fileinputInit(marketActionAfter7.PlacePic02);
                            $('#PlacePic03').fileinputInit(marketActionAfter7.PlacePic03);
                            $('#PlacePic04').fileinputInit(marketActionAfter7.PlacePic04)

                            //互动（签到，表演）
                            $('#RegisterLiveShowPic01').fileinputInit(marketActionAfter7.RegisterLiveShowPic01);
                            $('#RegisterLiveShowPic02').fileinputInit(marketActionAfter7.RegisterLiveShowPic02);
                            $('#RegisterLiveShowPic03').fileinputInit(marketActionAfter7.RegisterLiveShowPic03);
                            $('#RegisterLiveShowPic04').fileinputInit(marketActionAfter7.RegisterLiveShowPic04);

                            //人员（客户，员工，礼仪）
                            $('#CustomerStaffModelPic01').fileinputInit(marketActionAfter7.CustomerStaffModelPic01);
                            $('#CustomerStaffModelPic02').fileinputInit(marketActionAfter7.CustomerStaffModelPic02);
                            $('#CustomerStaffModelPic03').fileinputInit(marketActionAfter7.CustomerStaffModelPic03);
                            $('#CustomerStaffModelPic04').fileinputInit(marketActionAfter7.CustomerStaffModelPic04);

                            //其他
                            $('#OthersPic01').fileinputInit(marketActionAfter7.OthersPic01);
                            $('#OthersPic02').fileinputInit(marketActionAfter7.OthersPic02);
                            $('#OthersPic03').fileinputInit(marketActionAfter7.OthersPic03);
                            $('#OthersPic04').fileinputInit(marketActionAfter7.OthersPic04);
                        }

                    }
                });
            }
        });

        function SProcessing() {
            //loading
            var index = layer.load(1, {
                shade: [0.1, '#fff'] //0.1透明度的白色背景
            });
        }
        function EProcessing() {
            layer.closeAll('loading');
        }

        function PromotionEdit2() {
            var StrActivityFlow2 = $('#ActivityFlow2Table').bootstrapTable('getData');
            var StrActualCost = $('#ActualCostTable').bootstrapTable('getData');
            
            if (StrActivityFlow2 && StrActivityFlow2.length > 0) {
                StrActivityFlow2.forEach(function (item) {
                    item.MarketActionId = id;
                    item.InUserId = $("#G_UserId").val();
                    item.ModifyUserId = $("#G_UserId").val();
                })
            }
            if (StrActualCost && StrActualCost.length > 0) {
                StrActualCost.forEach(function (item) {
                    item.MarketActionId = id;
                    item.InUserId = $("#G_UserId").val();
                    item.ModifyUserId = $("#G_UserId").val();
                })
            }

            var marketActionAfter7 = $('#PromotionCreate2').serializeObject();
            marketActionAfter7.MarketActionId = id;
            marketActionAfter7.InUserId = $("#G_UserId").val();
            marketActionAfter7.ModifyUserId = $("#G_UserId").val();
            
            //线上广告
            marketActionAfter7.OnLineAdPic01 = $('#OnLineAdPic01').getImgSrc();
            marketActionAfter7.OnLineAdPic02 = $('#OnLineAdPic02').getImgSrc();
            marketActionAfter7.OnLineAdPic03 = $('#OnLineAdPic03').getImgSrc();
            marketActionAfter7.OnLineAdPic04 = $('#OnLineAdPic04').getImgSrc();

            //展车/展示
            marketActionAfter7.CarDisplayPic01 = $('#CarDisplayPic01').getImgSrc();
            marketActionAfter7.CarDisplayPic02 = $('#CarDisplayPic02').getImgSrc();
            marketActionAfter7.CarDisplayPic03 = $('#CarDisplayPic03').getImgSrc();
            marketActionAfter7.CarDisplayPic04 = $('#CarDisplayPic04').getImgSrc();

            //展具/场地
            marketActionAfter7.PlacePic01 = $('#PlacePic01').getImgSrc();
            marketActionAfter7.PlacePic02 = $('#PlacePic02').getImgSrc();
            marketActionAfter7.PlacePic03 = $('#PlacePic03').getImgSrc();
            marketActionAfter7.PlacePic04 = $('#PlacePic04').getImgSrc();

            //互动（签到，表演）
            marketActionAfter7.RegisterLiveShowPic01 = $('#RegisterLiveShowPic01').getImgSrc();
            marketActionAfter7.RegisterLiveShowPic02 = $('#RegisterLiveShowPic02').getImgSrc();
            marketActionAfter7.RegisterLiveShowPic03 = $('#RegisterLiveShowPic03').getImgSrc();
            marketActionAfter7.RegisterLiveShowPic04 = $('#RegisterLiveShowPic04').getImgSrc();

            //人员（客户，员工，礼仪）
            marketActionAfter7.CustomerStaffModelPic01 = $('#CustomerStaffModelPic01').getImgSrc();
            marketActionAfter7.CustomerStaffModelPic02 = $('#CustomerStaffModelPic02').getImgSrc();
            marketActionAfter7.CustomerStaffModelPic03 = $('#CustomerStaffModelPic03').getImgSrc();
            marketActionAfter7.CustomerStaffModelPic04 = $('#CustomerStaffModelPic04').getImgSrc();

            //其他
            marketActionAfter7.OthersPic01 = $('#OthersPic01').getImgSrc();
            marketActionAfter7.OthersPic02 = $('#OthersPic02').getImgSrc();
            marketActionAfter7.OthersPic03 = $('#OthersPic03').getImgSrc();
            marketActionAfter7.OthersPic04 = $('#OthersPic04').getImgSrc(); 

            var data = {
                MarketActionId: id,
                MarketActionAfter7: marketActionAfter7,
                ActualExpense: StrActualCost,
                ActualProcess:StrActivityFlow2
            };

            SProcessing();
            $.commonPost("MarketAction/MarketActionAfter7Save", {
                UserId: $("#G_UserId").val(),
                ListJson: JSON.stringify(data)
            }, function () {
                EProcessing();
                var msg = isZH() ? '保存成功！' : "Save successfully !";
                layer.alert(msg, {
                    skin: 'layui-layer-molv', closeBtn: 0
                }, function (datas) {                    
                    window.location.href = "/Marketing/Index";
                });
            }, EProcessing)
        }

        function OpenForm(obj) {
            var url = obj.src;
            url = url.replace('_min.', '.').replace("?x-oss-process=image/resize,h_100", "");
            if (!new RegExp('Content/bootstrap-fileinput/img/noimage').test(url)) {
                window.open(url);
            }
        }
    </script>
}