@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h1>@ViewData["errorMsg"] <span id="delayMsg">5秒后跳转到登录界面！</span></h1>
    </hgroup>
    <script>
        var delay = 1;        
        setInterval(function () {
            var curRemin = 5 - delay;
            delayMsg.innerHTML = curRemin+"秒后跳转到登录界面！";
            if (curRemin <= 0) {
                window.location.href = "/Account/Login";
            }
            delay++;
        },1000)
    </script>
</body>
</html>
