@{
    ViewBag.Title = "Home Page";
}
<style>
    html, body, div, span, p {
        font-family: PingFang SC !important;
    }
    .charts-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
    }

    .index-title {
        font-size: 18px;
        font-family: Microsoft YaHei;
        font-weight: bold;
        color: #333333;
        text-align: center;
    }

    .index-content {
        box-shadow: 2px 0px 18px 0px rgba(200, 200, 200, 0.35);
        border-radius: 10px;
        margin-top: 15px;
    }

    .index-info {
        padding: 20px;
        border-bottom: 1px solid #E3E6E8;
    }

    .info-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .plan-info {
        width: 144px;
        height: 36px;
        background: #C8C8C8;
        color: #fff;
        padding: 5px;
        cursor: pointer;
        font-size: 12px;
    }

    .plan-active {
        background: #69BD53;
        color: #fff;
        border-radius: 2px;
    }

    .statis-info {
        display: flex;
        justify-content: space-between;
        padding: 15px 0px;
    }

    .statis-img {
        width: 90px;
        height: 90px;
    }

        .statis-img img {
            display: block;
            width: 90px;
            height: 90px;
        }

    .statis-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div id="page-wrapper">
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="col-md-12">
                        <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <!--BEGIN CONTENT-->

                    <div id="main-content">
                        <div class="container-fluid">
                            <!-- BEGIN PAGE HEADER-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN THEME CUSTOMIZER-->
                                    <h3 class="page-title" translate style="font-family: BentleySemiBold;">Pending Reports Overview</h3>
                                </div>
                            </div>
                            <div id="page" class="dashboard">
                                <div class="charts-list">
                                    <div style="width:33.3%;margin-right:30px;">
                                        <div class="index-title">市场活动-线上</div>
                                        <div class="index-content">
                                            <div class="index-info">
                                                <div class="info-title">
                                                    <div style="display:flex;justify-content:center;align-items:center;">
                                                        <span style="font-size: 16px; color: #3A3737; font-weight:bold;margin-right:5px;">线上活动总数</span>
                                                        <span id="MarketActionCountOnline" style="font-size: 20px; color: #67BC51; font-weight: bold; margin-right: 5px;">118</span>
                                                        <span style="font-size: 14px; color: #67BC51;">个</span>
                                                    </div>
                                                    <div>
                                                        <span class="plan-info plan-active" onclick="onLineClick(this,1);">活动计划</span><span class="plan-info" onclick="onLineClick(this,2);">活动报告</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="padding:30px 15px;display:flex;justify-content:space-between;">
                                                <div style="width:200px;">
                                                    <canvas id="myCanvasOnline" width="150" data-value="85" style="width:150px;">
                                                        您的浏览器不支持 HTML5 canvas 标签。
                                                    </canvas>
                                                    <div style="color: #505050; font-size:14px;margin-top:15px;text-align:center;" id="onLine-1">已提交：60个</div>
                                                </div>
                                                <div style="width:100%;margin-left:30px;">
                                                    <div>
                                                        <div style="font-size: 14px; font-family: PingFang SC; font-weight: 500; color: #505050;" id="onLine-2">未提交—四周内: 35个</div>
                                                        <div style="display:flex;justify-content:flex-start;align-items:center;margin-top:10px;">
                                                            <div class="progress progress-info" style="background: #E5E5E5; margin-bottom: 0px; cursor: pointer; width: 80%; height: 15px; border-radius: 5px !important;"><div id="onLine-3" class="progress-bar" role="progressbar" style="width: 60%; height: 100%; background: #9AC1E6; border-radius: 5px; "></div></div>
                                                            <div style="color: #373737;font-size:12px;margin-left:10px;" id="onLine-4">60%</div>
                                                        </div>
                                                    </div>
                                                    <div style="margin-top:30px;">
                                                        <div style="font-size: 14px; font-family: PingFang SC; font-weight: 500; color: #505050;" id="onLine-5">未提交—二周内: 35个</div>
                                                        <div style="display:flex;justify-content:flex-start;align-items:center;margin-top:10px;">
                                                            <div class="progress progress-info" style="background: #E5E5E5; margin-bottom: 0px; cursor: pointer; width: 80%; height: 15px; border-radius: 5px !important; "><div id="onLine-6" class="progress-bar" role="progressbar" style="width: 30%; height: 100%; background: #F3EB62; border-radius: 5px; "></div></div>
                                                            <div style="color: #373737;font-size:12px;margin-left:10px;" id="onLine-7">30%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="width:33.3%;margin-right:30px;">
                                        <div class="index-title">市场活动-线下</div>
                                        <div class="index-content">
                                            <div class="index-info">
                                                <div class="info-title">
                                                    <div style="display:flex;justify-content:center;align-items:center;">
                                                        <span style="font-size: 16px; color: #3A3737; font-weight:bold;margin-right:5px;">线下活动总数</span>
                                                        <span id="MarketActionCountOffline" style="font-size: 20px; color: #67BC51; font-weight:bold;margin-right:5px;">118</span>
                                                        <span style="font-size: 14px; color: #67BC51;">个</span>
                                                    </div>
                                                    <div>
                                                        <span class="plan-info plan-active" onclick="offLineClick(this,1);">活动计划</span><span class="plan-info" onclick="offLineClick(this,2);">活动报告</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="padding:30px 15px;display:flex;justify-content:space-between;">
                                                <div style="width:200px;">
                                                    <canvas id="myCanvasOffline" width="150" data-value="85" style="width:150px;">
                                                        您的浏览器不支持 HTML5 canvas 标签。
                                                    </canvas>
                                                    <div style="color: #505050; font-size: 14px; margin-top: 15px; text-align: center;" id="offLine-1">已提交：60个</div>
                                                </div>
                                                <div style="width:100%;margin-left:30px;">
                                                    <div>
                                                        <div style="font-size: 14px; font-family: PingFang SC; font-weight: 500; color: #505050;" id="offLine-2">未提交—四周内: 35个</div>
                                                        <div style="display:flex;justify-content:flex-start;align-items:center;margin-top:10px;">
                                                            <div class="progress progress-info" style="background: #E5E5E5; margin-bottom: 0px; cursor: pointer; width: 80%; height: 15px; border-radius: 5px !important;"><div id="offLine-3" class="progress-bar" role="progressbar" style="width: 60%; height: 100%; background: #9AC1E6; border-radius: 5px; "></div></div>
                                                            <div style="color: #373737;font-size:12px;margin-left:10px;" id="offLine-4">60%</div>
                                                        </div>
                                                    </div>
                                                    <div style="margin-top:30px;">
                                                        <div style="font-size: 14px; font-family: PingFang SC; font-weight: 500; color: #505050;" id="offLine-5">未提交—二周内: 35个</div>
                                                        <div style="display:flex;justify-content:flex-start;align-items:center;margin-top:10px;">
                                                            <div class="progress progress-info" style="background: #E5E5E5; margin-bottom: 0px; cursor: pointer; width: 80%; height: 15px; border-radius: 5px !important; "><div id="offLine-6" class="progress-bar" role="progressbar" style="width: 30%; height: 100%; background: #F3EB62; border-radius: 5px; "></div></div>
                                                            <div style="color: #373737;font-size:12px;margin-left:10px;" id="offLine-7">30%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="width:33.3%;margin-right:15px;">
                                        <div class="index-title">交车仪式</div>
                                        <div class="index-content">
                                            <div class="index-info">
                                                <div class="info-title">
                                                    <div style="display:flex;justify-content:center;align-items:center;">
                                                        <span style="font-size: 16px; color: #3A3737; font-weight:bold;margin-right:5px;">交车仪式总数</span>
                                                        <span id="MarketActionCountCarline" style="font-size: 20px; color: #67BC51; font-weight:bold;margin-right:5px;">118</span>
                                                        <span style="font-size: 14px; color: #67BC51;">个</span>
                                                    </div>
                                                    <div>
                                                        <span class="plan-info plan-active" onclick="carLineClick(this,1);">活动计划</span><span class="plan-info" onclick="carLineClick(this,2);">活动报告</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="padding:30px 15px;display:flex;justify-content:space-between;">
                                                <div style="width:200px;">
                                                    <canvas id="myCanvasCarline" width="150" data-value="85" style="width:150px;">
                                                        您的浏览器不支持 HTML5 canvas 标签。
                                                    </canvas>
                                                    <div style="color: #505050; font-size: 14px; margin-top: 15px; text-align: center;" id="carLine-1">已提交：60个</div>
                                                </div>
                                                <div style="width:100%;margin-left:30px;">
                                                    <div>
                                                        <div style="font-size: 14px; font-family: PingFang SC; font-weight: 500; color: #505050;" id="carLine-2">未提交—四周内: 35个</div>
                                                        <div style="display:flex;justify-content:flex-start;align-items:center;margin-top:10px;">
                                                            <div class="progress progress-info" style="background: #E5E5E5; margin-bottom: 0px; cursor: pointer; width: 80%; height: 15px; border-radius: 5px !important;"><div id="carLine-3" class="progress-bar" role="progressbar" style="width: 60%; height: 100%; background: #9AC1E6; border-radius: 5px; "></div></div>
                                                            <div style="color: #373737;font-size:12px;margin-left:10px;" id="carLine-4">60%</div>
                                                        </div>
                                                    </div>
                                                    <div style="margin-top:30px;">
                                                        <div style="font-size: 14px; font-family: PingFang SC; font-weight: 500; color: #505050;" id="carLine-5">未提交—二周内: 35个</div>
                                                        <div style="display:flex;justify-content:flex-start;align-items:center;margin-top:10px;">
                                                            <div class="progress progress-info" style="background: #E5E5E5; margin-bottom: 0px; cursor: pointer; width: 80%; height: 15px; border-radius: 5px !important; "><div id="carLine-6" class="progress-bar" role="progressbar" style="width: 30%; height: 100%; background: #F3EB62; border-radius: 5px; "></div></div>
                                                            <div style="color: #373737;font-size:12px;margin-left:10px;" id="carLine-7">30%</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="charts-list">
                                    <div style="width:50%;margin-right:15px;">
                                        <div class="index-title">费用报销</div>
                                        <div style="width:100%;display:flex;justify-content:space-between;">
                                            <div style="width: 50%; margin-right: 15px;">
                                                <div class="index-content">
                                                    <div class="index-info" style="border:0px;">
                                                        <div class="info-title">
                                                            <div>
                                                                <span style="font-size: 16px; color: #3A3737; font-weight:bold;">市场活动</span>
                                                            </div>
                                                            <div>
                                                                <span id="bxPlan-1" style="font-size: 20px; color: #67BC51; font-weight:bold;">118</span>
                                                                <span style="font-size: 14px; color: #67BC51;">个</span>
                                                            </div>
                                                        </div>
                                                        <div class="statis-info" style="padding: 15px 30px;">
                                                            <div>
                                                                <div class="statis-img">
                                                                    <img src="~/Content/images/statis/icon-statis-1.png" alt="Alternate Text" />
                                                                </div>
                                                                <div class="statis-text">
                                                                    <span style="font-size: 14px; color: #505050;">邮件：</span>
                                                                    <span id="bxPlan-2" style="font-size: 16px; font-weight: bold; color: #67BC51;">60</span>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="statis-img">
                                                                    <img src="~/Content/images/statis/icon-statis-2.png" alt="Alternate Text" />
                                                                </div>
                                                                <div class="statis-text">
                                                                    <span style="font-size: 14px; color: #505050;">发票：</span>
                                                                    <span id="bxPlan-3" style="font-size: 16px; font-weight: bold; color: #52A4FE;">38</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="statis-info" style="padding: 15px 30px;">
                                                            <div>
                                                                <div class="statis-img">
                                                                    <img src="~/Content/images/statis/icon-statis-3.png" alt="Alternate Text" />
                                                                </div>
                                                                <div class="statis-text">
                                                                    <span style="font-size: 14px; color: #505050;">合同：</span>
                                                                    <span id="bxPlan-4" style="font-size: 16px; font-weight: bold; color: #A0947C;">6</span>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="statis-img">
                                                                    <img src="~/Content/images/statis/icon-statis-4.png" alt="Alternate Text" />
                                                                </div>
                                                                <div class="statis-text">
                                                                    <span style="font-size: 14px; color: #505050;">报价单：</span>
                                                                    <span id="bxPlan-5" style="font-size: 16px; font-weight: bold; color: #666666;">22</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="width:50%;">
                                                <div class="index-content">
                                                    <div class="index-info" style="border:0px;">
                                                        <div class="info-title">
                                                            <div>
                                                                <span style="font-size: 16px; color: #3A3737; font-weight:bold;">交车仪式</span>
                                                            </div>
                                                            <div>
                                                                <span id="bxCar-1" style="font-size: 20px; color: #67BC51; font-weight:bold;">118</span>
                                                                <span style="font-size: 14px; color: #67BC51;">个</span>
                                                            </div>
                                                        </div>
                                                        <div class="statis-info" style="padding: 15px 30px;">
                                                            <div>
                                                                <div class="statis-img">
                                                                    <img src="~/Content/images/statis/icon-statis-1.png" alt="Alternate Text" />
                                                                </div>
                                                                <div class="statis-text">
                                                                    <span style="font-size: 14px; color: #505050;">邮件：</span>
                                                                    <span id="bxCar-2" style="font-size: 16px; font-weight: bold; color: #67BC51;">60</span>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="statis-img">
                                                                    <img src="~/Content/images/statis/icon-statis-2.png" alt="Alternate Text" />
                                                                </div>
                                                                <div class="statis-text">
                                                                    <span style="font-size: 14px; color: #505050;">发票：</span>
                                                                    <span id="bxCar-3" style="font-size: 16px; font-weight: bold; color: #52A4FE;">38</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="statis-info" style="padding: 15px 30px;">
                                                            <div>
                                                                <div class="statis-img">
                                                                    <img src="~/Content/images/statis/icon-statis-3.png" alt="Alternate Text" />
                                                                </div>
                                                                <div class="statis-text">
                                                                    <span style="font-size: 14px; color: #505050;">合同：</span>
                                                                    <span id="bxCar-4" style="font-size: 16px; font-weight: bold; color: #A0947C;">6</span>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="statis-img">
                                                                    <img src="~/Content/images/statis/icon-statis-4.png" alt="Alternate Text" />
                                                                </div>
                                                                <div class="statis-text">
                                                                    <span style="font-size: 14px; color: #505050;">报价单：</span>
                                                                    <span id="bxCar-5" style="font-size: 16px; font-weight: bold; color: #666666;">22</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height: 500px; width: 50%;">
                                        <div class="index-title">报告（本月）</div>
                                        <div class="index-content">
                                            <div class="index-info" style="border:0px;">
                                                <div class="info-title">
                                                    <div>
                                                        <span style="font-size: 16px; color: #3A3737; font-weight:bold;">市场活动</span>
                                                    </div>
                                                    <div>
                                                        <span id="reportPlan-1" style="font-size: 26px; color: #67BC51; font-weight:bold;">118</span>
                                                        <span style="font-size: 14px; color: #67BC51;">个</span>
                                                    </div>
                                                </div>
                                                <div class="statis-info" style="margin-top:15px;">
                                                    <div style="width: 33.3%; margin-right: 20px;">
                                                        <div class="progress progress-info" style="background: #D1FBED; cursor: pointer; position: relative; width: 100%; height: 6px; border-radius: 2px;"><div id="reportPlan-5" class="progress-bar" role="progressbar" style="width: 60%; height: 100%; background: #67BC51; border-radius: 2px; "></div></div>
                                                        <div class="statis-text" style="text-align:center;">
                                                            <span style="font-size: 14px; color: #505050;">市场花费：</span>
                                                            <span id="reportPlan-2" style="font-size: 16px; font-weight: bold; color: #67BC51;">60</span>
                                                        </div>
                                                    </div>
                                                    <div style="width:33.3%;margin-right:20px;">
                                                        <div class="progress progress-info" style="background: #E8F0FE; cursor: pointer; position: relative; width: 100%; height: 6px; border-radius: 2px;"><div id="reportPlan-6" class="progress-bar" role="progressbar" style="width: 60%; height: 100%; background: #9AC1E6; border-radius: 2px; "></div></div>
                                                        <div class="statis-text" style="text-align:center;">
                                                            <span style="font-size: 14px; color: #505050;">市场基金：</span>
                                                            <span id="reportPlan-3" style="font-size: 16px; font-weight: bold; color: #52A4FE;">38</span>
                                                        </div>
                                                    </div>
                                                    <div style="width:33.3%;">
                                                        <div class="progress progress-info" style="background: #FEF4E1; cursor: pointer; position: relative; width: 100%; height: 6px; border-radius: 2px;"><div id="reportPlan-7" class="progress-bar" role="progressbar" style="width: 60%; height: 100%; background: #F5F555; border-radius: 2px; "></div></div>
                                                        <div class="statis-text" style="text-align:center;">
                                                            <span style="font-size: 14px; color: #505050;">线索报告：</span>
                                                            <span id="reportPlan-4" style="font-size: 16px; font-weight: bold; color: #CFA763;">6</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="index-content" style="margin-top:21px;">
                                            <div class="index-info" style="border:0px;">
                                                <div class="info-title">
                                                    <div>
                                                        <span style="font-size: 16px; color: #3A3737; font-weight:bold;">交车仪式</span>
                                                    </div>
                                                    <div>
                                                        <span id="reportCar-1" style="font-size: 20px; color: #67BC51; font-weight:bold;">118</span>
                                                        <span style="font-size: 14px; color: #67BC51;">个</span>
                                                    </div>
                                                </div>
                                                <div class="statis-info" style="margin-top:15px;">
                                                    <div style="width: 33.3%; margin-right: 20px;">
                                                        <div class="progress progress-info" style="background: #D1FBED; cursor: pointer; position: relative; width: 100%; height: 6px; border-radius: 2px;"><div id="reportCar-5" class="progress-bar" role="progressbar" style="width: 60%; height: 100%; background: #67BC51; border-radius: 2px; "></div></div>
                                                        <div class="statis-text" style="text-align:center;">
                                                            <span style="font-size: 14px; color: #505050;">市场花费：</span>
                                                            <span id="reportCar-2" style="font-size: 16px; font-weight: bold; color: #67BC51;">60</span>
                                                        </div>
                                                    </div>
                                                    <div style="width:33.3%;margin-right:20px;">
                                                        <div class="progress progress-info" style="background: #E8F0FE; cursor: pointer; position: relative; width: 100%; height: 6px; border-radius: 2px;"><div id="reportCar-6" class="progress-bar" role="progressbar" style="width: 60%; height: 100%; background: #9AC1E6; border-radius: 2px; "></div></div>
                                                        <div class="statis-text" style="text-align:center;">
                                                            <span style="font-size: 14px; color: #505050;">市场基金：</span>
                                                            <span id="reportCar-3" style="font-size: 16px; font-weight: bold; color: #52A4FE;">38</span>
                                                        </div>
                                                    </div>
                                                    <div style="width:33.3%;">
                                                        <div class="progress progress-info" style="background: #FEF4E1; cursor: pointer; position: relative; width: 100%; height: 6px; border-radius: 2px;"><div id="reportCar-7" class="progress-bar" role="progressbar" style="width: 60%; height: 100%; background: #F5F555; border-radius: 2px; "></div></div>
                                                        <div class="statis-text" style="text-align:center;">
                                                            <span style="font-size: 14px; color: #505050;">线索报告：</span>
                                                            <span id="reportCar-4" style="font-size: 16px; font-weight: bold; color: #CFA763;">6</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END OVERVIEW STATISTIC BARS-->
                            </div>
                            <!-- END PAGE CONTENT-->

                        </div>
                    </div>
                    <!--END CONTENT-->
                </div>
            </div>
        </div>
    </div>
    <!--END CONTENT-->
</div>
@section scripts{
    <script src="~/Scripts/api/common.js"></script>
    <script src="~/Scripts/curtom/cpbBuilder.js?v=0.0.10"></script>
    <script>
        // usage
        // 实例化 cpbBuilder.js 插件
        var progressBar = new cpbBuilder({
            // true 以百分比显示 || false 以原始值显示
            showPercent: true,
            // 显示值前缀
            prefix: '',
            // 显示值后缀，如果以原始值显示可以为数字添加单位符号后缀
            suffix: '',
            // 数字格式化选项，默认保留小数点后2位
            fiexd: 2,
            // 计算百分比是的分母
            total: 100,
            // 动画选项，使用每帧增加的百分比调整动画速度，默认 2.5 即每帧增加 2.5%，设置为 0 或 false 关闭动画
            animation: 2.5,
            // 旋转，只旋转进度条，文本不旋转
            rotate: 0,
            // 反向，顺时针还是逆时针
            reverse: false,
            // 样式，不可通过 canvas 元素 [data-*] 属性设置
            style: {
                // 线宽
                circleWidth: 15,
                // 进度条颜色
                circleColor: "#69BD53",
                // 进度条背景颜色，设置为 false 时不显示
                circleBackground: '#eee',
                // 值文本颜色
                valueColor: "#393835",
                // 标签文本颜色
                lableColor: "#393835",
                // 字体，不能设置文字大小
                font: "'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif",
                // 进度条渐变设置，设置渐变以后会使 circleColor 选项失效
                gradient: {
                    // 渐变方向，默认左右；1 - 上下；2 - 左上右下；3 - 左下右上
                    direction: 2,
                    // 渐变颜色，设置位置 0 至 1 的不同颜色节点
                    color: {
                        "0": "#69BD53",
                        "1": "#69BD53"
                    }
                }
            }
        });
        $("#nav_dash").addClass("active");
        function initCanvas(id) {
            var canvas = document.getElementById(id);
            progressBar.draw(canvas);
        }
        @*initCanvas();*@
        let planOnlineData = {};
        let planOfflineData = {};
        let planCarlineData = {};
        function initPlanOnline(data) {
            planOnlineData["MarketActionCount"] = data.MarketActionCount;
            let plan = { "Plan_CommitCount": data.Plan_CommitCount, "Plan_CommitCountRate": parseFloat(data.Plan_CommitCountRate * 100).toFixed(2), "Plan_4WeekNotCommit": data.Plan_4WeekNotCommit, "Plan_4WeekNotCommitRate": parseFloat(data.Plan_4WeekNotCommitRate * 100).toFixed(2), "Plan_2WeekNotCommit": data.Plan_2WeekNotCommit, "Plan_2WeekNotCommitRate": parseFloat(data.Plan_2WeekNotCommitRate * 100).toFixed(2) };
            let report = { "Plan_CommitCount": data.Report_CommitCount, "Plan_CommitCountRate": parseFloat(data.Report_CommitCountRate * 100).toFixed(2), "Plan_4WeekNotCommit": data.Report_2WeekNotCommit, "Plan_4WeekNotCommitRate": parseFloat(data.Report_2WeekNotCommitRate * 100).toFixed(2), "Plan_2WeekNotCommit": data.Report_1WeekNotCommit, "Plan_2WeekNotCommitRate": parseFloat(data.Report_1WeekNotCommitRate * 100).toFixed(2) };
            planOnlineData["plan"] = plan
            planOnlineData["report"] = report;
            initOnline(1);
        }
        function initOnline(type) {
            let data = type == 1 ? planOnlineData.plan : planOnlineData.report;
            $("#myCanvasOnline").attr("data-value", data.Plan_CommitCountRate);
            $("#MarketActionCountOnline").html(planOnlineData.MarketActionCount);
            $("#onLine-1").html("已提交：" + data.Plan_CommitCount + "个");
            $("#onLine-2").html(type == 1 ? "未提交-四周内：" + data.Plan_4WeekNotCommit + "个" : "未提交-两周内：" + data.Plan_4WeekNotCommit + "个");
            $("#onLine-3").css({ "width": data.Plan_4WeekNotCommitRate + "%"})
            $("#onLine-4").html(data.Plan_4WeekNotCommitRate + "%");
            $("#onLine-5").html(type == 1 ? "未提交-二周内：" + data.Plan_2WeekNotCommit + "个" : "未提交-一周内：" + data.Plan_2WeekNotCommit + "个");
            $("#onLine-6").css({ "width": data.Plan_2WeekNotCommitRate + "%" })
            $("#onLine-7").html(data.Plan_2WeekNotCommitRate + "%");
            initCanvas("myCanvasOnline");
        }
        function onLineClick(obj,type) {
            $(obj).parent().find(".plan-info").removeClass("plan-active");
            $(obj).addClass("plan-active");
            initOnline(type);
        }

        function initPlanOffline(data) {
            planOfflineData["MarketActionCount"] = data.MarketActionCount;
            let plan = { "Plan_CommitCount": data.Plan_CommitCount, "Plan_CommitCountRate": parseFloat(data.Plan_CommitCountRate * 100).toFixed(2), "Plan_4WeekNotCommit": data.Plan_4WeekNotCommit, "Plan_4WeekNotCommitRate": parseFloat(data.Plan_4WeekNotCommitRate * 100).toFixed(2), "Plan_2WeekNotCommit": data.Plan_2WeekNotCommit, "Plan_2WeekNotCommitRate": parseFloat(data.Plan_2WeekNotCommitRate * 100).toFixed(2) };
            let report = { "Plan_CommitCount": data.Report_CommitCount, "Plan_CommitCountRate": parseFloat(data.Report_CommitCountRate * 100).toFixed(2), "Plan_4WeekNotCommit": data.Report_2WeekNotCommit, "Plan_4WeekNotCommitRate": parseFloat(data.Report_2WeekNotCommitRate * 100).toFixed(2), "Plan_2WeekNotCommit": data.Report_1WeekNotCommit, "Plan_2WeekNotCommitRate": parseFloat(data.Report_1WeekNotCommitRate * 100).toFixed(2) };
            planOfflineData["plan"] = plan
            planOfflineData["report"] = report;
            initOffline(1);
        }
        function initOffline(type) {
            let data = type == 1 ? planOfflineData.plan : planOfflineData.report;
            $("#myCanvasOffline").attr("data-value", data.Plan_CommitCountRate);
            $("#MarketActionCountOffline").html(planOfflineData.MarketActionCount);
            $("#offLine-1").html("已提交：" + data.Plan_CommitCount + "个");
            $("#offLine-2").html(type == 1 ? "未提交-四周内：" + data.Plan_4WeekNotCommit + "个" : "未提交-两周内：" + data.Plan_4WeekNotCommit + "个");
            $("#offLine-3").css({ "width": data.Plan_4WeekNotCommitRate + "%" })
            $("#offLine-4").html(data.Plan_4WeekNotCommitRate + "%");
            $("#offLine-5").html(type == 1 ? "未提交-二周内：" + data.Plan_2WeekNotCommit + "个" : "未提交-一周内：" + data.Plan_2WeekNotCommit + "个");
            $("#offLine-6").css({ "width": data.Plan_2WeekNotCommitRate + "%" })
            $("#offLine-7").html(data.Plan_2WeekNotCommitRate + "%");
            initCanvas("myCanvasOffline");
        }
        function offLineClick(obj, type) {
            $(obj).parent().find(".plan-info").removeClass("plan-active");
            $(obj).addClass("plan-active");
            initOffline(type);
        }

        function initPlanCarline(data) {
            planCarlineData["MarketActionCount"] = data.MarketActionCount;
            let plan = { "Plan_CommitCount": data.Plan_CommitCount, "Plan_CommitCountRate": parseFloat(data.Plan_CommitCountRate * 100).toFixed(2), "Plan_4WeekNotCommit": data.Plan_4WeekNotCommit, "Plan_4WeekNotCommitRate": parseFloat(data.Plan_4WeekNotCommitRate * 100).toFixed(2), "Plan_2WeekNotCommit": data.Plan_2WeekNotCommit, "Plan_2WeekNotCommitRate": parseFloat(data.Plan_2WeekNotCommitRate * 100).toFixed(2) };
            let report = { "Plan_CommitCount": data.Report_CommitCount, "Plan_CommitCountRate": parseFloat(data.Report_CommitCountRate * 100).toFixed(2), "Plan_4WeekNotCommit": data.Report_2WeekNotCommit, "Plan_4WeekNotCommitRate": parseFloat(data.Report_2WeekNotCommitRate * 100).toFixed(2), "Plan_2WeekNotCommit": data.Report_1WeekNotCommit, "Plan_2WeekNotCommitRate": parseFloat(data.Report_1WeekNotCommitRate * 100).toFixed(2) };
            planCarlineData["plan"] = plan
            planCarlineData["report"] = report;
            initCarline(1);
        }
        function initCarline(type) {
            let data = type == 1 ? planCarlineData.plan : planCarlineData.report;
            $("#myCanvasCarline").attr("data-value", data.Plan_CommitCountRate);
            $("#MarketActionCountCarline").html(planCarlineData.MarketActionCount);
            $("#carLine-1").html("已提交：" + data.Plan_CommitCount + "个");
            $("#carLine-2").html(type == 1 ? "未提交-四周内：" + data.Plan_4WeekNotCommit + "个" : "未提交-两周内：" + data.Plan_4WeekNotCommit + "个");
            $("#carLine-3").css({ "width": data.Plan_4WeekNotCommitRate + "%" })
            $("#carLine-4").html(data.Plan_4WeekNotCommitRate + "%");
            $("#carLine-5").html(type == 1 ? "未提交-二周内：" + data.Plan_2WeekNotCommit + "个" :"未提交-一周内：" + data.Plan_2WeekNotCommit + "个");
            $("#carLine-6").css({ "width": data.Plan_2WeekNotCommitRate + "%" })
            $("#carLine-7").html(data.Plan_2WeekNotCommitRate + "%");
            initCanvas("myCanvasCarline");
        }
        function carLineClick(obj, type) {
            $(obj).parent().find(".plan-info").removeClass("plan-active");
            $(obj).addClass("plan-active");
            initCarline(type);
        }
        function initBxPlan(data) {
            $("#bxPlan-1").html(data.ExpenseAccount0 ? data.ExpenseAccount0 : 0);
            $("#bxPlan-2").html(data.ExpenseAccount9 ? data.ExpenseAccount9 : 0);
            $("#bxPlan-3").html(data.ExpenseAccount4 ? data.ExpenseAccount4 : 0);
            $("#bxPlan-4").html(data.ExpenseAccount3 ? data.ExpenseAccount3 : 0);
            $("#bxPlan-5").html(data.ExpenseAccount5 ? data.ExpenseAccount5 : 0);
        }
        function initBxCar(data) {
            $("#bxCar-1").html(data.ExpenseAccount0 ? data.ExpenseAccount0 : 0);
            $("#bxCar-2").html(data.ExpenseAccount9 ? data.ExpenseAccount9 : 0);
            $("#bxCar-3").html(data.ExpenseAccount4 ? data.ExpenseAccount4 : 0);
            $("#bxCar-4").html(data.ExpenseAccount3 ? data.ExpenseAccount3 : 0);
            $("#bxCar-5").html(data.ExpenseAccount5 ? data.ExpenseAccount5 : 0);
        }
        function initReportPlan(data) {
            $("#reportPlan-1").html(data.MarketActionCount ? data.MarketActionCount : 0);
            $("#reportPlan-2").html(data.ReportBugetUnCommit ? data.ReportBugetUnCommit : 0);
            $("#reportPlan-3").html(data.ReportCoopFundUnCommit ? data.ReportCoopFundUnCommit : 0);
            $("#reportPlan-4").html(data.LeadsUnCommit ? data.LeadsUnCommit : 0);
        }
        function initReportCar(data) {
            $("#reportCar-1").html(data.MarketActionCount ? data.MarketActionCount : 0);
            $("#reportCar-2").html(data.ReportBugetUnCommit ? data.ReportBugetUnCommit : 0);
            $("#reportCar-3").html(data.ReportCoopFundUnCommit ? data.ReportCoopFundUnCommit : 0);
            $("#reportCar-4").html(data.LeadsUnCommit ? data.LeadsUnCommit : 0);
        }
        $(function () {
            //市场活动-线上
            $.commonGet("MarketAction/MarketActionStatusCountSearch", {
                year: '',
                eventModeId: 1,
                userId: $("#G_UserId").val(),
                roleTypeCode: $("#G_RoleTypeCode").val()
            }, function (data) {
                initPlanOnline(data[0]);
            })

            //市场活动-线下
            $.commonGet("MarketAction/MarketActionStatusCountSearch", {
                year: '',
                eventModeId: 2,
                userId: $("#G_UserId").val(),
                roleTypeCode: $("#G_RoleTypeCode").val()
            }, function (data) {
                initPlanOffline(data[0]);
            })

            //交车仪式
            $.commonGet("MarketAction/MarketActionStatusCountSearch", {
                year: '',
                eventModeId: 4,
                userId: $("#G_UserId").val(),
                roleTypeCode: $("#G_RoleTypeCode").val()
            }, function (data) {
                initPlanCarline(data[0]);
            })

            //费用报销市场活动
            $.commonGet("MarketAction/ExpenseAccountStatusCountSearch", {
                year: '',
                eventTypeId: '',
                userId: $("#G_UserId").val(),
                roleTypeCode: $("#G_RoleTypeCode").val()
            }, function (data) {
                initBxPlan(data[0]);
            })
            //费用报销交车仪式
            $.commonGet("MarketAction/ExpenseAccountStatusCountSearch", {
                year: '',
                eventTypeId: 99,
                userId: $("#G_UserId").val(),
                roleTypeCode: $("#G_RoleTypeCode").val()
            }, function (data) {
                initBxCar(data[0]);
            })
            //报告市场活动
            $.commonGet("MarketAction/MarketActionReportCountSearch", {
                year: '',
                eventTypeId: '',
                userId: $("#G_UserId").val(),
                roleTypeCode: $("#G_RoleTypeCode").val()
            }, function (data) {
                initReportPlan(data[0]);
            })
            //报告交车仪式
            $.commonGet("MarketAction/MarketActionReportCountSearch", {
                year: '',
                eventTypeId: 99,
                userId: $("#G_UserId").val(),
                roleTypeCode: $("#G_RoleTypeCode").val()
            }, function (data) {
                initReportCar(data[0]);
            })
        })

        function initChartsOne(data) {
            var chartDom = document.getElementById('chartsOne');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
                title: {
                    text: '市场活动',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '30px',
                    left: 'center'
                },
                label: {
                    alignTo: 'edge',
                    formatter: '{name|{b}}\n{time|{c}}',
                    minMargin: 5,
                    edgeDistance: 20,
                    lineHeight: 15,
                    rich: {
                        time: {
                            fontSize: 12,
                            color: '#666'
                        }
                    }
                },
                series: [
                    {
                        name: '市场活动',
                        type: 'pie',
                        avoidLabelOverlap: false,
                        radius: '50%',
                        data: [
                            { value: data[0].Before4WeeksNotCommit, name: '未提交活动计划' },
                            { value: data[0].Before4WeeksWaitForChange, name: '未通过审批活动计划' },
                            { value: data[0].After7NotCommit, name: '未提交活动报告' },
                            { value: data[0].After7WaitForChange, name: '未通过审批活动报告' }
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            option && myChart.setOption(option);
        }

        function initChartsTwo(data) {
            var chartDom = document.getElementById('chartsTwo');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
                title: {
                    text: '交车仪式',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '30px',
                    left: 'center'
                },
                label: {
                    alignTo: 'edge',
                    formatter: '{name|{b}}\n{time|{c}}',
                    minMargin: 5,
                    edgeDistance: 20,
                    lineHeight: 15,
                    rich: {
                        time: {
                            fontSize: 12,
                            color: '#666'
                        }
                    }
                },
                series: [
                    {
                        name: '交车仪式',
                        type: 'pie',
                        avoidLabelOverlap: false,
                        radius: '50%',
                        data: [
                            { value: data[0].Before4WeeksNotCommit, name: '未提交活动计划' },
                            { value: data[0].Before4WeeksWaitForChange, name: '未通过审批活动计划' },
                            { value: data[0].After7NotCommit, name: '未提交活动报告' },
                            { value: data[0].After7WaitForChange, name: '未通过审批活动报告' }
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            option && myChart.setOption(option);
        }

        function initChartsThree(data) {
            var chartDom = document.getElementById('chartsThree');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
                title: {
                    text: '费用报销',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '30px',
                    left: 'center',
                    data: ['市场活动', '交车仪式']
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        axisLabel: { interval: 0 },
                        splitLine: { show: false },
                        data: ['未提交合同', '\n\n未提交报价单', '未提交发票', '\n\n未提交申请提交材料-邮件截图', '未提交报销证明材料-邮件截图']
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '市场活动',
                        type: 'bar',
                        label: {
                            show: true,
                            position: 'top'
                        },
                        data: [
                            data[0].ExpenseAccount3, data[0].ExpenseAccount5, data[0].ExpenseAccount4, data[0].ExpenseAccount2, data[0].ExpenseAccount9
                        ],
                    },
                    {
                        name: '交车仪式',
                        type: 'bar',
                        label: {
                            show: true,
                            position: 'top'
                        },
                        data: [
                            data[1].ExpenseAccount3, data[1].ExpenseAccount5, data[1].ExpenseAccount4, data[1].ExpenseAccount2, data[1].ExpenseAccount9
                        ]
                    }
                ]
            };

            option && myChart.setOption(option);
        }

        function initChartsFour(data) {
            var chartDom = document.getElementById('chartsFour');
            var myChart = echarts.init(chartDom);
            var option;
            option = {
                title: {
                    text: '报告（本月）',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '30px',
                    left: 'center',
                    data: ['市场活动', '交车仪式']
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        axisLabel: { interval: 0 },
                        splitLine: { show: false },
                        data: ['未提交活动计划市场花费', '未提交活动计划市场基金', '未提交线索报告']
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '市场活动',
                        type: 'bar',
                        label: {
                            show: true,
                            position: 'top'
                        },
                        data: [
                            data[0].PlanBugetUnCommit, data[0].PlanCoopFundUnCommit, data[0].LeadsUnCommit
                        ],
                    },
                    {
                        name: '交车仪式',
                        type: 'bar',
                        label: {
                            show: true,
                            position: 'top'
                        },
                        data: [
                            data[1].PlanBugetUnCommit, data[1].PlanCoopFundUnCommit, data[1].LeadsUnCommit
                        ]
                    }
                ]
            };
            option && myChart.setOption(option);
        }
    </script>
}
