@{
    ViewBag.Title = "Home Page";
}
<style>
    .charts-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px dashed #999;
        padding:10px 0px;
    }
    .line-div {
        width: 1px;
        border-left: 1px dashed #999;
    }
</style>
<div id="page-wrapper">
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="col-md-12">
                        <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <!--BEGIN CONTENT-->

                    <div id="main-content">
                        <div class="container-fluid">
                            <!-- BEGIN PAGE HEADER-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN THEME CUSTOMIZER-->
                                    <h3 class="page-title" translate style="font-family: BentleySemiBold;">Pending Reports Overview</h3>
                                </div>
                            </div>
                            <div id="page" class="dashboard">
                                <div class="charts-list">
                                    <div class="span6" id="chartsOne" style="height: 500px;"></div>
                                    <div class="line-div"></div>
                                    <div class="span6" id="chartsTwo" style="height: 500px;"></div>
                                </div>
                                <div class="charts-list" style="border:0px;">
                                    <div class="span6" id="chartsThree" style="height: 500px;"></div>
                                    <div class="line-div"></div>
                                    <div class="span6" id="chartsFour" style="height: 500px;"></div>
                                </div>
                                <!-- END OVERVIEW STATISTIC BARS-->
                            </div>
                            <!-- END PAGE CONTENT-->

                        </div>
                    </div>
                    <!--END CONTENT-->
                </div>
            </div>
        </div>
    </div>
    <!--END CONTENT-->
</div>
@section scripts{
    <script src="~/Scripts/api/common.js"></script>
    <script src="~/Scripts/api/echarts.js"></script>
    <script>
        $("#nav_dash").addClass("active");

        $(function () {
            //市场活动
            $.commonGet("MarketAction/MarketActionStatusCountSearch", {
                year: '',
                eventTypeId: '',
                userId: $("#G_UserId").val(),
                roleTypeCode: $("#G_RoleTypeCode").val()
            }, function (data) {
                initChartsOne(data);
            })

            //交车仪式
            $.commonGet("MarketAction/MarketActionStatusCountSearch", {
                year: '',
                eventTypeId: 99,
                userId: $("#G_UserId").val(),
                roleTypeCode: $("#G_RoleTypeCode").val()
            }, function (data) {
                initChartsTwo(data);
            })

            //费用报销市场活动
            $.commonGet("MarketAction/ExpenseAccountStatusCountSearch", {
                year: '',
                eventTypeId: '',
                userId: $("#G_UserId").val(),
                roleTypeCode: $("#G_RoleTypeCode").val()
            }, function (data) {
                initChartsThree(data);
            })
            //报告市场活动
            $.commonGet("MarketAction/MarketActionReportCountSearch", {
                year: '',
                eventTypeId: '',
                userId: $("#G_UserId").val(),
                roleTypeCode: $("#G_RoleTypeCode").val()
            }, function (data) {
                initChartsFour(data);
            })
        })

        function initChartsOne(data) {
            var chartDom = document.getElementById('chartsOne');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
                title: {
                    text: '市场活动',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '30px',
                    left: 'center'
                },
                label: {
                    alignTo: 'edge',
                    formatter: '{name|{b}}\n{time|{c}}',
                    minMargin: 5,
                    edgeDistance: 20,
                    lineHeight: 15,
                    rich: {
                        time: {
                            fontSize: 12,
                            color: '#666'
                        }
                    }
                },
                series: [
                    {
                        name: '市场活动',
                        type: 'pie',
                        avoidLabelOverlap: false,
                        radius: '50%',
                        data: [
                            { value: data[0].Before4WeeksNotCommit, name: '未提交活动计划' },
                            { value: data[0].Before4WeeksWaitForChange, name: '未通过审批活动计划' },
                            { value: data[0].After7NotCommit, name: '未提交活动报告' },
                            { value: data[0].After7WaitForChange, name: '未通过审批活动报告' }
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            option && myChart.setOption(option);
        }

        function initChartsTwo(data) {
            var chartDom = document.getElementById('chartsTwo');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
                title: {
                    text: '交车仪式',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '30px',
                    left: 'center'
                },
                label: {
                    alignTo: 'edge',
                    formatter: '{name|{b}}\n{time|{c}}',
                    minMargin: 5,
                    edgeDistance: 20,
                    lineHeight: 15,
                    rich: {
                        time: {
                            fontSize: 12,
                            color: '#666'
                        }
                    }
                },
                series: [
                    {
                        name: '交车仪式',
                        type: 'pie',
                        avoidLabelOverlap: false,
                        radius: '50%',
                        data: [
                            { value: data[0].Before4WeeksNotCommit, name: '未提交活动计划' },
                            { value: data[0].Before4WeeksWaitForChange, name: '未通过审批活动计划' },
                            { value: data[0].After7NotCommit, name: '未提交活动报告' },
                            { value: data[0].After7WaitForChange, name: '未通过审批活动报告' }
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            option && myChart.setOption(option);
        }

        function initChartsThree(data) {
            var chartDom = document.getElementById('chartsThree');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
                title: {
                    text: '费用报销',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '30px',
                    left: 'center',
                    data: ['市场活动', '交车仪式']
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        axisLabel: { interval: 0 },
                        splitLine: { show: false },
                        data: ['未提交合同', '\n\n未提交报价单', '未提交发票', '\n\n未提交申请提交材料-邮件截图', '未提交报销证明材料-邮件截图']
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '市场活动',
                        type: 'bar',
                        label: {
                            show: true,
                            position: 'top'
                        },
                        data: [
                            data[0].ExpenseAccount3, data[0].ExpenseAccount5, data[0].ExpenseAccount4, data[0].ExpenseAccount2, data[0].ExpenseAccount9
                        ],
                    },
                    {
                        name: '交车仪式',
                        type: 'bar',
                        label: {
                            show: true,
                            position: 'top'
                        },
                        data: [
                            data[1].ExpenseAccount3, data[1].ExpenseAccount5, data[1].ExpenseAccount4, data[1].ExpenseAccount2, data[1].ExpenseAccount9
                        ]
                    }
                ]
            };

            option && myChart.setOption(option);
        }

        function initChartsFour(data) {
            var chartDom = document.getElementById('chartsFour');
            var myChart = echarts.init(chartDom);
            var option;
            console.error(data);
            option = {
                title: {
                    text: '报告（本月）',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '30px',
                    left: 'center',
                    data: ['市场活动', '交车仪式']
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        axisLabel: { interval: 0 },
                        splitLine: { show: false },
                        data: ['未提交活动计划市场花费', '未提交活动计划市场基金', '未提交线索报告']
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '市场活动',
                        type: 'bar',
                        label: {
                            show: true,
                            position: 'top'
                        },
                        data: [
                            data[0].PlanBugetUnCommit, data[0].PlanCoopFundUnCommit, data[0].LeadsUnCommit
                        ],
                    },
                    {
                        name: '交车仪式',
                        type: 'bar',
                        label: {
                            show: true,
                            position: 'top'
                        },
                        data: [
                            data[1].PlanBugetUnCommit, data[1].PlanCoopFundUnCommit, data[1].LeadsUnCommit
                        ]
                    }
                ]
            };
            option && myChart.setOption(option);
        }
    </script>
}
