@{
    ViewBag.Title = "DMF";

}

<style>
    html {
        overflow: auto;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .widget {
        margin-bottom: 5px !important;
    }

    .widget-body {
        padding: 5px 5px 1px 5px !important;
    }

    .page-content {
        padding: 5px 5px 1px 5px !important;
    }

    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        margin-bottom: 4px !important;
    }

    .fixed-table-pagination div.pagination, .fixed-table-pagination .pagination-detail {
        margin-top: 5px !important;
        margin-bottom: 0px !important;
    }

    .td {
        text-align: center;
    }
</style>

<div style="display:none">
    <input id="NO" type="hidden" value="{{'NO'|translate}}" />
    <input id="Dealer" type="hidden" value="{{'Dealer'|translate}}" />

    <input id="T_Name" type="hidden" value="{{'Name'|translate}}" />
    <input id="T_EnName" type="hidden" value="{{'EnName'|translate}}" />
</div>

<div id="page-wrapper">
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="col-md-12">
                        <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div id="main-content">
                        <div class="container-fluid">
                            <p><a class="btn btn-primary" id="btnNew" href="/Home/AreaCreate"><i class="icon-plus icon-white"></i><span translate>Add</span></a></p>

                            <div class="row-fluid">
                                <div class="span12">
                                    <!-- BEGIN EXAMPLE TABLE widget-->
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h4><i class="icon-reorder"></i><span translate>List</span></h4>
                                            <span class="tools">
                                                <a href="javascript:;" class="icon-chevron-down" onclick="ShowDiv()"></a>

                                            </span>
                                        </div>
                                        <div class="widget-body" style="display: block;">
                                            <div class="dataTables_wrapper form-inline" role="grid" id="myPro">
                                                <!--end row-fluid-->
                                                <table class="table table-bordered table-hover" id="AreaTable"> </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE widget-->
                                </div>
                            </div>
                            <!-- END ADVANCED TABLE widget-->
                            <!-- END PAGE CONTENT-->
                        </div>
                    </div>
                    <!--END CONTENT-->
                </div>
            </div>
        </div>
    </div>
    <!--END CONTENT-->
</div>

@section scripts{
    <script src="~/Scripts/api/common.js"></script>
    <script src="~/Scripts/curtom/ManageArea.js"></script>

    <script type="text/javascript">
        $("#nav_area").addClass("active");

        $(function () {
            var clientWidth = document.body.clientWidth;
            $(window).resize(function () {
                if (document.body.clientWidth != clientWidth) {
                    $('#AreaTable').bootstrapTable('destroy');// 销毁表格数据
                    initTable();
                    loadArea();
                }
                clientWidth = document.body.clientWidth;
            });
        })

        function loadArea() {
            $.commonGet("/Master/AreaSearch", {
                areaId: '',
                areaName: '',
                areaNameEn: ''
            }, function (data) {
                $('#AreaTable').bootstrapTable("load", data);
            })
        }
        loadArea();

    </script>
}